<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Layout</title>
<link th:href="@{/webjars/bootstrap/2.3.2/css/bootstrap.css}" href="/webjars/bootstrap/2.3.2/css/bootstrap.css" rel="stylesheet"></link>
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
                <a class="brand" th:href="@{/}"> Home </a>
				<ul class="nav">
					<li><a th:href="@{/users}" href="users.html"> Users </a></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>
</body>
</html>
